*{
	margin:0px;
	padding:0px;
}
img{
	position:absolute;
	margin:100px 10px;
	animation:roll 3s 0s 1 forwards cubic-bezier(0,0,0,0); 

	
}

@keyframes roll{
	0%{transform:rotate(0deg);margin-left:10px; margin-top:100px;}
	25%{transform:rotate(360deg);margin-left:900px; margin-top:100px;}
	50%{transform:rotate(720deg);margin-left:900px; margin-top:500px;}
	75%{transform:rotate(1080deg);margin-left:10px; margin-top:500px;}
	100%{transform:rotate(1440deg);margin-left:10px; margin-top:100px;}


}
